<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STUDENTS</title>
</head>
<body>
{% for user in users %}
<div>
    <h2> Студент - {{user.last_name}} {{user.first_name}}</h2>
    <p> Возраст: {{user.age}}</p>
    <p> Получил средний балл: {{user.grade}}</p>
    <h3>!!!ПОЗДРАВЛЯЕМ!!!</h3>
    <br>
</div>
{% endfor %}
</body>
</html>